body {
  background-color: black;
  margin: 0;
  font-style: italic;
}

h1 {
  color: crimson;
  text-align: center;
  border: 1px solid;
  
}


p {
  color: crimson;
  margin-top: 100px;
  text-align: center;
  font-size:20px;
  padding: 40px;
  background-color: red;
  color: black;
}
img {
  width: 50%;
}

nav {
  display: flex;
  border:crimson solid;
  text-align: center;
  justify-content: space-between;
  
}
 main {
 
 }
 div {
  display: flex;
 }
 
 footer {
  text-align: right;
  color: cyan;
 }